<template>
    <section class="section">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3>Login</h3>
          <div class="box">          
            <form @submit.prevent="handleSubmit">
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="email" placeholder="Email" autofocus="" v-model="credentials.userName">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="password" placeholder="Password" v-model="credentials.password">
                </div>
              </div>
              <!-- <Spinner v-bind:show="isBusy" /> -->
              <button class="button is-block is-info is-large is-fullwidth" type="submit">Login</button>
              <div class="errors-container" v-if="errors">
                 {{errors}}
              </div>
            </form>
          </div>
          <p class="has-text-grey">
             <router-link to="/register">Sign Up</router-link>
          </p>
        </div>
      </div>  
  </section> 
</template>

<script>
// import Spinner from '@/components/Spinner.vue'; // @ is an alias to /src
// import { Component, Vue } from 'vue-property-decorator';
// import { Credentials } from '../../models/credentials.interface';
// this.$route.query.page

// @Component({
//   components: {
//     Spinner,
//   },
// })
export default{

 data: function () {
    return {
      isBusy: false,
      errors: '',
      credentials: {}
    }
  },

  created() {
    if (this.$route.query.email) {
      this.credentials.userName = this.$route.query.email;
    }
  },

  methods:{
    handleSubmit() {
        this.isBusy = true;
        this.$store.dispatch('auth/authRequest', this.credentials)
        .then((result) => {
          this.$router.push({name: 'dashboard'});
        })
        .catch((err) => {
          this.errors = err.response.data;
        });
    },
  }
}
</script>
