<template>
  <div>
    <!-- <Nav />  -->
    <router-view/> 
  </div>
</template>
  
<script>
// import { Component, Vue } from 'vue-property-decorator';
// import Nav from '@/components/Nav.vue'; // @ is an alias to /src

export default {
  // components: {
  //   Nav,
  // },
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
</style>
